/* income area  */
.income-area{
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
}
/* input field */
input {
    background-color: rgb(216, 211, 211);
    border: none;
    padding: 5px 15px;
}
span{
    background-color: rgb(216, 211, 211);
}

.img-height{
    width: 100%;
    height: 98vh;
}
@media only screen and (max-width: 768px) {
    .img-height{
        width: 100%;
        height: auto;
    }
  }